/* HEADER */
.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
}

.cabecera__buscar__item {
    display: none;
}

/* ASIDE */
.menu__container {
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

.menu__lista li {
    align-self: center;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* SECCION SUPERIOR */
.superior__seccion__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-wrap: nowrap;
    overflow: auto;
    height: 64px;
    gap: 20px;
}

/* SECCION VIDEOS */
.videos {
    display: flex;
    justify-content: center;
}

.videos__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1700px;
}

.videos__item {
    height: 303px;
    width: 280px;
    flex-grow: 1;
}


.descripcion-video {
    margin-top: 1rem;
    display: flex;
    align-items: start;

}

.descripcion-video img {
    margin-right: 1rem;
    flex-shrink: 0;
    /*  Evita que la imagen se reduzca */

}

.detalles__video {
    flex-direction: column;
    text-align: left;

}

.detalles__video h3 {
    margin-bottom: 10px;
}

/* FOOTER */
.rodapie__container {
    display: flex;
    flex-flow: column wrap
}

@media (min-width: 680px) {
    .cabecera__buscar__item {
        display: block;
    }
}

@media (min-width: 834px) {
    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }
}

@media (min-width: 1440px) {
    .menu__container {
        width: 239px;
        overflow-x: hidden;
    }

    .menu__lista {
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        flex-direction: column-reverse;
    }

    .menu__itens {
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }
}

@media (min-width: 986px) and (max-width: 1286px) {
    .videos__item {
        max-width: 280px;
    }
}